<form *ngIf="showAddTask" class="mb-4" (ngSubmit)="submitToDo()">
  <div class="row">

    <div class="col-6">
      <div class="row">
        <div class="col-2 pt-2">Task:</div>
        <div class="col-10">
          <input class="form-control"
                 [(ngModel)]="task"
                 name="task"
                 id="1"
                 placeholder="Task"
                 type="text">
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-2 pt-2">Day & Time:</div>
        <div class="col-10">
          <input class="form-control"
                 [(ngModel)]="dayAndTime"
                 name="dayAndTime"
                 id="2"
                 placeholder="Due"
                 type="datetime-local">
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-2 pt-2">Set reminder:</div>
        <div class="col-10 form-check mt-2">
          <input class="form-check-input"
                 [(ngModel)]="reminder"
                 name="reminder"
                 id="3"
                 type="checkbox">
        </div>
      </div>
    </div>

  </div>

  <div>
    <input type="submit" value="Submit" class="mb-2 btn btn-info float-end">
  </div>
</form>


