<div class="container">
    <div class="row">
        <div class="col-4">
            <ul>
                <!--                @for (user of users; track user.id) {-->
                <!--                    <li>-->
                <!--                        <app-user [user]="user" (selected)="onSelectUser(user.id)"/>-->
                <!--                    </li>-->
                <!--                }-->
                <li *ngFor="let user of users">
                    <app-user [user]="user" (selected)="onSelectUser(user.id)"/>
                </li>
            </ul>
        </div>

        <div class="col-8">
            @if (selectedUser) {
                <app-user-details [user]="selectedUser"/>
            } @else {
                <p>Select an user</p>
            }
        </div>
    </div>
</div>
