<ul>
    <li>
        <app-user [avatar]="users[0].avatar"
                  [id]="users[0].id"
                  [name]="users[0].name"
                  (selected)="onSelectUser($event)"
        />
    </li>
    <li>
        <app-user [avatar]="users[1].avatar"
                  [id]="users[1].id"
                  [name]="users[1].name"
                  (selected)="onSelectUser($event)"
        />
    </li>
    <li>
        <app-user [avatar]="users[2].avatar"
                  [id]="users[2].id"
                  [name]="users[2].name"
                  (selected)="onSelectUser($event)"
        />
    </li>
</ul>