<app-add-to-do (onSubmitToDo)="addToDo($event)"></app-add-to-do>
<table class="table table-bordered">

  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Due</th>
      <th scope="col" class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of to_do_list" (dblclick)="toggleReminder(item)">
      <td [ngClass]="{'bg-info-subtle': item.reminder}">
        {{ item.task }}
      </td>
      <td [ngClass]="{'bg-info-subtle': item.reminder}">
        {{ item.due }}
      </td>
      <td class="text-center" [ngClass]="{'bg-info-subtle': item.reminder}">
        <fa-icon (click)="deleteItem(item)" [ngStyle]="{'color':'red'}" [icon]="faTime"></fa-icon>
      </td>
    </tr>
  </tbody>

</table>

