<form name="to_do_form" class="mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 pe-0">
      <div class="row mb-2">
        <div class="col-2 pt-2">Title:</div>
        <div class="col-10">
          <input
            class="form-control"
            name="task_name"
            placeholder="name of your task"
            type="text"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-2 pt-2">Details:</div>
        <div class="col-10">
          <input
            class="form-control"
            name="task_details"
            placeholder="details"
            type="text"
          >
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 ps-1">
      <div class="row mb-2">
        <div class="col-2 pt-2">Due:</div>
        <div class="col-10">
          <input class="form-control"
                 name="task_date"
                 type="date"
          >
        </div>
      </div>
    </div>
  </div>
</form>
